<section class="home-info">
  <div class="block-left">
    <h1>Найкращий сервіс страхування</h1>
    <div class="block-left__info">
      <p>З нами Ви будете в безпеці! Ваше життя, авто та майно! Ми можемо застрахувати все!</p>
      <p>Залишай заявку і ми зв'яжемося з тобою!</p>
      <button mat-raised-button color="warn">Залишити заявку</button>
    </div>
  </div>
  <div class="block-right">
    <div class="block-right__auto block-right__total"
         [routerLink]="">
      <p>ОСАГО</p>
      <p>20 страхових компаній</p>
      <p><span>Розрахувати вартість</span></p>

    </div>
    <div class="block-right__health block-right__total"
         [routerLink]="">ЖИЗНЬ</div>
    <div class="block-right__property block-right__total"
         [routerLink]="">ИМУЩЕСТВО</div>
    <div class="block-right__pension block-right__total"
         [routerLink]="">ПЕНСИОННОЕ</div>
  </div>
</section>
