<header class="header">
  <div class="header-logo">insukrain</div>
  <div class="header-menu">
    <p><button class="header-menu__btn" mat-button [matMenuTriggerFor]="aboveMenu">Авто</button>
      <mat-menu #aboveMenu="matMenu" yPosition="above">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
      </mat-menu>

      <button class="header-menu__btn" mat-button [matMenuTriggerFor]="belowMenu">Жизнь</button>
      <mat-menu #belowMenu="matMenu" yPosition="below">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
      </mat-menu>

      <button mat-button class="header-menu__btn" [matMenuTriggerFor]="contactMenu">Пенсионное</button>
      <mat-menu #contactMenu="matMenu" xPosition="before">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
      </mat-menu>

      <button mat-button class="header-menu__btn" [matMenuTriggerFor]="beforeMenu">Компании</button>
      <mat-menu #beforeMenu="matMenu" xPosition="before">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
      </mat-menu>

      <button mat-button class="header-menu__btn" [matMenuTriggerFor]="afterMenu">О нас</button>
      <mat-menu #afterMenu="matMenu" xPosition="after">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
      </mat-menu></p>

  </div>
  <div class="header-contacts">
    <div class="header-contacts__tel">0632211111</div>
    <div class="header-contacts__email">email@gmail.com</div>
  </div>
</header>
<div class="main-container">

  <router-outlet></router-outlet>
</div>
